.list-group-item {
  background-color: lighten($color-gray-lighter, 7%);
  border: 0px;
  @include border-radius(0px !important);
  cursor: pointer;

  &:nth-child(odd) {
    background-color: lighten($color-gray-lighter, 5%)
  }

  &:hover {
    background-color: $color-black !important;
    color: $color-primary !important;
  }

  &.active {
    background-color: $color-primary !important;
    color: $color-black !important;
  }
}