
##########
# Password-protecting this directory.
# Update "TO-BE-PROTECTED" with the folder you want to protect.
#
# Example at: http://davidwalsh.name/password-protect-directory-using-htaccess
# htpasswd generator: http://www.htaccesstools.com/htpasswd-generator/
##########

#AuthType Basic
#AuthName "restricted area"
#AuthUserFile /home/hoopslou/public_html/TO-BE-PROTECTED/.htpasswd
#require valid-user

##########
# Spam blocking, ordered alphabetically by domain name.
#
# Inspired from: https://moz.com/blog/how-to-stop-spam-bots-from-ruining-your-analytics-referral-data
# Slightly modified to match a domain with a sub-domain (or not).
##########

RewriteEngine on
RewriteCond %{HTTP_REFERER} ^http://(.*\.)?4webmasters\.org [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(.*\.)?buttons\-for\-website\.com [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(.*\.)?cachedview\.com [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(.*\.)?contextualyield\.com [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(.*\.)?darodar\.com [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(.*\.)?demo8\.com [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(.*\.)?digimind\-evolution\.com [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(.*\.)?e\-buyeasy\.com [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(.*\.)?econom\.co [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(.*\.)?event\-tracking\.com [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(.*\.)?floating\-share\-buttons\.com [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(.*\.)?Get\-Free\-Traffic\-Now\.com [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(.*\.)?guardlink\.org [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(.*\.)?ilovevitaly\.com [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(.*\.)?ilovevitaly.\.ru [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(.*\.)?ilovevitaly\.org [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(.*\.)?ilovevitaly\.info [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(.*\.)?iloveitaly\.ru [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(.*\.)?kambasoft\.com [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(.*\.)?kika\.ca [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(.*\.)?makeitbloom\.com [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(.*\.)?savetubevideo\.com [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(.*\.)?semalt\.com [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(.*\.)?sogou\.com [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(.*\.)?success\-seo\.com [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(.*\.)?trafficmonetize\.org [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(.*\.)?trafficmonetizer\.org [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(.*\.)?urlopener\.com [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(.*\.)?videos\-for\-your\-business\.com [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(.*\.)?webmonetizer\.net [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(.*\.)?weburlopener\.com [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(.*\.)?zol\.com\.cn [NC]
RewriteRule .* – [F,L]
