.comment {
  margin-bottom: 30px;
}

.comment-image {
  float: left;
  width: 140px;
  @extend %image;

  img {
    height: auto;
    max-height: auto;
    max-width: 100%;
  }
}
.comment-content {
  background-color: lighten($color-gray-lighter, 5%);
  margin-left: 140px;
}

.comment-meta {
  background-color: $color-black;
  height: 43px;
  padding: 0px 0px 0px 20px;
}

.comment-body {
  padding: 20px;
}

.comment-author {
  color: $color-primary;
  font-size: 20px;
  font-weight: 200;
  line-height: 42px;
}

.comment-date {
  color: rgba(255, 255, 255, .7);
  display: block;
  float: right;
  font-size: 16px;
  line-height: 42px;
  padding: 0px 15px;
}

.comment-reply {
  background-color: $color-primary;
  display: block;
  float: right;
  font-size: 18px;
  font-weight: 400;
  height: 43px;
  line-height: 42px;
  padding: 0px 15px;
  @include transition(background-color .2s linear);

  &:hover {
    background-color: darken($color-primary, 5%);
    text-decoration: none;
  }
}

.comments {
  > .comments {
    margin-left: 140px;
  }
}