.drawer {
	background-color: #fff;
	left: 50%;
	position: fixed;	
	top: 42px;
	@include transform(translateX(-50%) translateY(-100%));
	@include transition(all .2s linear);
	width: 290px;
	z-index: 1000;

	&.open {
		top: 0px;
		@include transform(translateX(-50%) translateY(0%));
	}
}

.drawer-toggle {
	background-color: $color-primary;
	cursor: pointer;
	font-size: 18px;
	font-weight: 400;
	padding: 8px 20px;
	@include transition(outline .2s linear, background-color .2s linear);

	.fa {
		float: right;
		margin-top: 5px;
		@include transition(all .2s linear)
	}

	&:hover {
		background-color: darken($color-primary, 7%);
	}

	.open & {
		.fa {
			@include rotate(180deg);
		}
	}
}

.drawer-content {
	background-color: #fff;
	
	.hero-list {
		margin: 0px;
		padding: 0px;
	}

	.hero-list-item {
		height: 30px;		
		margin-bottom: 0px;

		strong {
			font-size: 14px;
			height: 30px;
			line-height: 30px;
			padding: 0px 0px 0px 12px;
			vertical-align: top;
			width: 30px;
		}

		span {
			font-size: 14px;
			line-height: 32px;
			padding-left: 10px;
			vertical-align: 0px;
		}

		&:nth-child(odd) {			
			background-color: darken($color-primary, 3%);
		}

		&:hover {
			background-color: darken($color-primary, 5%);
		}
	}
}