#fullscreen-wrapper {
  height: 100%;
}

#fullscreen {
  color: #fff;
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;

  #header-wrapper {
    display: block;
  }

  .slogan {
    font-size: 36px;
    font-weight: 100;
    line-height: 44px;
    margin-bottom: 40px;
  }

  .carousel, .carousel-inner, .item {
    height: 100%;
  }

  .carousel .item {
    background-size: cover;
    position: absolute;
    width: 100%;

    .content-wrapper {
      @extend .vertical-align;
      z-index: 2;
    }

    .content {
      color: #fff;
      position: relative;
      z-index: 2;

      h1 {
        font-size: 88px;
        font-weight: normal;
        margin: 0px 0px 20px 0px;
      }
    }
  }

  .carousel .item:after {
    background-color: rgba(0, 0, 0, .6);
    bottom: 0px;
    content: '';
    display: block;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
  }
}

.fullscreen-image {
  //@extend %make-it-cha-cha;

  background-size: cover;
  color: #fff;
  display: table;
  height: 100%;
  position: absolute;
  width: 100%;

  h1 {
    font-weight: 400;
  }

  &.no-movement {
    -webkit-animation: none;
  }
}

.fullscreen-image-inner {
  //background: url(../img/hexagon_pat.png) repeat;   
  background-color: rgba(0, 0, 0, .6);
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  width: 100%;
}

.fullscreen-image-logo {
  display: block;
  margin-bottom: 20px;
}

.fullscreen-image-title {
  margin-bottom: 70px;
  //font-size: 12px;
}

.fullscreen-video {
  color: #fff;
  display: table;
  height: 100%;
  position: absolute;

  video {
    background-size: cover;
    bottom: 0;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    right: 0;
    width: auto;
    z-index: -100;
  }
}

.fullscreen-video-inner {
  background-color: rgba(0, 0, 0, .6);
  display: table-cell;
  height: 100%;
  overflow: hidden;
  vertical-align: middle;
  width: 100%;
}

#image_logo {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.background-parallax {
  background: url(../img/Front2.png) repeat;   
  height: 100%;
  vertical-align: middle;
  width: 100%; 
}