.pricing-col {
  &.primary {
    background-color: $color-primary;
    color: $color-black-light;

    &:after {
      border-top-color: $color-primary;
    }

    &:before {
      border-bottom-color: $color-primary;
    }

    h4 {
      color: $color-black-light;
      font-weight: 400;
    }

    hr {
      &:after, &:before {
        background-color: $color-black-light;
      }
    }

    li {
      &:after {
        @include background-image(linear-gradient(left, transparent, $color-black-light, transparent));
      }
    }
  }

  &.primary-dark {
    background-color: darken($color-primary, 3%);
    color: $color-black-light;

    &:after {
      border-top-color: darken($color-primary, 3%);
    }

    &:before {
      border-bottom-color: darken($color-primary, 3%);
    }

    h4 {
      color: $color-black-light;
      font-weight: 400;
    }

    hr {
      &:after, &:before {
        background-color: $color-black-light;
      }
    }

    li {
      &:after {
        @include background-image(linear-gradient(left, transparent, $color-black-light, transparent));
      }
    }
  }

  &.primary-darker {
    background-color: darken($color-primary, 5%);
    color: $color-black-light;

    &:after {
      border-top-color: darken($color-primary, 5%);
    }

    &:before {
      border-bottom-color: darken($color-primary, 5%);
    }

    h4 {
      color: $color-black-light;
      font-weight: 400;
    }

    hr {
      &:after, &:before {
        background-color: $color-black-light;
      }
    }

    li {
      &:after {
        @include background-image(linear-gradient(left, transparent, $color-black-light, transparent));
      }
    }
  }

  .pricing.squared & {
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 100px;
    padding-bottom: 60px;

    &:after, &:before {
      display: none;
    }

    .price {
      top: -70px;
    }

    @media (max-width: 767px) {
      margin-bottom: 80px;
      margin-top: 80px;
    }
  }

  .pricing.cols-with-spacing & {
    &:after, &:before {
      border-width: 180px;
    }

    &:before {
      top: -360px;

      @media (min-width: 992px) and (max-width: 1199px) {
        border-width: 146px;
        top: -292px;
      }

      @media (min-width: 768px) and (max-width: 991px) {
        border-width: 110px;
        top: -220px;
      }

      @media (max-width: 767px) {
        display: none;
      }
    }

    &:after {
      bottom: -360px;

      @media (min-width: 992px) and (max-width: 1199px) {
        border-width: 146px;
        bottom: -292px;
      }

      @media (min-width: 768px) and (max-width: 991px) {
        border-width: 110px;
        bottom: -220px;
      }

      @media (max-width: 767px) {
        display: none;
      }
    }
  }

  background-color: $color-black-light;
  color: $color-gray-light;
  font-weight: 200;
  margin-bottom: 220px;
  margin-top: 220px;
  position: relative;
  text-align: center;

  @media (max-width: 767px) {
    margin-bottom: 120px;
    margin-top: 120px
  }

  &:before {
    border: 190px solid transparent;
    border-bottom-color: $color-black-light;
    content: '';
    display: block;
    left: 0px;
    position: absolute;
    top: -380px;

    @media (min-width: 992px) and (max-width: 1199px) {
      border-width: 156px;
      top: -312px;
    }

    @media (min-width: 768px) and (max-width: 991px) {
      border-width: 120px;
      top: -240px;
    }

    @media (max-width: 767px) {
      display: none;
    }
  }

  &:after {
    border: 190px solid transparent;
    border-top-color: $color-black-light;
    bottom: -380px;
    content: '';
    display: block;
    left: 0px;
    position: absolute;

    @media (min-width: 992px) and (max-width: 1199px) {
      border-width: 156px;
      bottom: -312px;
    }

    @media (min-width: 768px) and (max-width: 991px) {
      border-width: 120px;
      bottom: -240px;
    }

    @media (max-width: 767px) {
      display: none;
    }
  }

  h4 {
    color: $color-primary;
    font-weight: 200;
    margin: 0px;
    padding: 0px;
  }

  h5 {
    font-size: 18px;
    font-weight: 200;
  }

  hr {
    border: 0px;
    position: relative;

    &:after, &:before {
      background-color: $color-gray-light;
      content: '';
      display: block;
      height: 1px;
      margin: 0px auto 2px auto;
      width: 30%;
    }
  }


  ul {
    font-size: 24px;
    list-style: none;
    margin: 0px 0px 40px 0px;
    padding: 0px;
  }

  li {
    padding: 13px 0px 0px 0px;

    &:after {
      @include background-image(linear-gradient(left, transparent, $color-gray-light, transparent));
      content: '';
      display: block;
      height: 1px;
      margin-top: 13px;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }

  .price {
    background-color: $color-gray-medium;
    @include border-radius(50%);
    color: $color-gray-lighter;
    font-size: 50px;
    font-weight: 700;
    height: 140px;
    left: 50%;
    line-height: 130px;
    margin-left: -70px;
    position: absolute;
    top: -210px;
    width: 140px;

    &.black {
      background-color: $color-black;
      color: $color-primary;
    }

    &.primary, &.primary-dark, &.primary-darker {
      background-color: $color-primary;
      color: $color-black;
    }

    @media (max-width: 767px) {
      top: -70px;
    }
  }

  @media (max-width: 767px) {
    padding: 80px 0px;
  }
}