.box {
  background-color: $color-primary;
  padding: 70px 20px;
  text-align: center;

  &.dark {
    background-color: darken($color-primary, 3%);
  }

  &.darker {
    background-color: darken($color-primary, 5%);
  }

  .fa {
    font-size: 68px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 52px;
    font-weight: 200;
    margin: 0px 0px 25px 0px;
    padding: 0px;
  }
}