#footer {
  border-bottom: 9px solid $color-primary;
  position: relative;
}

.footer-bottom {
  color: $color-gray-medium;
  font-size: 18px;
  height: 90px;

  .container {
    @extend .vertical-align;
  }

  a {
    color: $color-black;
    text-decoration: underline;
  }
}