#header {
  background-color: #fff;
  border-bottom: 4px solid $color-black;
  border-top: 9px solid $color-primary;
  height: 129px;
}

.header-boxed {
  padding: 0px;
  position: relative;
}

.header-transparent {
  position: relative;

  #header-wrapper {
    display: block;
  }

  #header {
    background-color: rgba(0, 0, 0, .3);
  }

  .navigation-main > ul > li > a {
    color: #fff;
  }
}

.logo {
  float: left;
  height: 120px;
  line-height: 116px;
  position: relative;

  a {
    display: block;
  }

  .mission {
    background-color: $color-primary;
    bottom: 2px;
    color: $color-black;
    left: 0px;
    line-height: 1;
    padding: 8px 10px;
    position: absolute;
    right: 0px;
    text-align: center;
    text-transform: uppercase;
    @include translateY(50%);
  }
}

.navigation-main {
  float: right;
  height: 120px;
  line-height: 116px;
  text-align: center;

  .nav {
    display: block;

    @media (max-width: 767px) {
      height: 0px;
      overflow: hidden;
    }

    li {
      position: relative;
      &:hover {
        > a {
          border-bottom-color: $color-primary;
          border-top-color: #fff;
        }
        > ul {
          visibility: visible;
        }
      }

      &:hover {
        > a {
          border-bottom-color: $color-primary;
        }

        > ul {
          visibility: visible !important;
        }
      }
    }

    ul {
      background-color: $color-primary;
      @include box-shadow(0px 5px 9px rgba(0, 0, 0, .12));
      font-size: 18px;
      list-style: none;
      margin: 0px;
      padding: 0px;
      position: absolute;
      visibility: hidden;
      width: 220px;
      z-index: 9999;

      ul {
        left: 220px;
        top: 0px
      }

      li {
        background-color: darken($color-primary, 2%);
        border-bottom: 1px solid $color-primary;
        display: block;
        line-height: 1;
        position: relative;
        text-align: left;
        @include transition(background-color .2s linear);

        &:nth-child(odd) {
          background-color: darken($color-primary, 3%);
        }

        &:last-child {
          border-bottom: 0px;
        }

        &:hover {
          background-color: $color-black-light;
          color: #fff !important;

          > a {
            color: #fff !important;
          }
        }

        &.menuparent {
          &:hover {
            &:after {
              border: 6px solid transparent;
              border-left-color: $color-black-light;
              content: '';
              height: 0px;
              display: block;
              margin-top: -6px;
              position: absolute;
              right: -12px;
              top: 50%;
              width: 0px;
            }
          }
        }

        a {
          border: 0px;
          color: $color-black !important;
          display: block;
          font-size: 18px !important;
          line-height: 44px;
          margin-top: 0px !important;
          padding: 0px 20px !important;
          text-transform: inherit;

          &:after {
            display: none;
          }

          &:hover {
            color: #fff !important;
            text-decoration: none;
          }
        }
      }
    }
  }

  a {
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    @include border-radius(0px !important);
    color: lighten($color-black, 10%);
    font-size: 22px;
    font-weight: 100;
    margin-top: -4px;
    padding: 0px 25px !important;
    position: relative;
    text-transform: uppercase;
    @include transition(color .2s linear, border-top-color .2s linear, border-bottom-color .2s linear);

    &:after {
      background-color: lighten($color-black, 10%);
      content: '';
      display: block;
      height: 6px;
      margin-top: -3px;
      position: absolute;
      right: 0px;
      top: 50%;
      width: 1px;
    }

    &:hover {
      background-color: transparent !important;
      @include border-radius(0px);
      border-bottom-color: $color-primary;
      border-top-color: #fff;
      color: $color-black;
    }
  }

  .nav > li:last-child a:after {
    display: none;
  }
}

.social-nav {
  float: right;
  height: 116px;

  ul {
    margin: 0px;
    padding: 0px;
  }

  li {
    display: inline-block;
    font-size: 22px;
    list-style: none;
    margin-left: 12px;

    a {
      border-bottom: 4px solid transparent;
      border-top: 4px solid transparent;
      color: lighten($color-black, 60%);
      display: inline-block;
      line-height: 116px;
      margin-top: -4px;
      @include transition(border-color .2s linear, color .2s linear);

      &:hover {
        border-bottom-color: $color-primary;
        border-top-color: #fff;
        color: $color-primary;
      }
    }
  }
}

.navbar-toggle {
  background-color: $color-black;
  @include border-radius(0px);
  margin: 0px;
  position: absolute;
  right: 30px;
  top: 46px;

  span {
    background-color: $color-primary;
    @include border-radius(0px);
  }
}

@media (max-width: 767px) {
  .navigation-main {
    width: 100%;

    a {
      display: block;
      line-height: 52px;
      text-align: left;
    }

    a:after {
      display: none;
    }

    .menuparent:hover {
      > ul {
        position: relative;
      }
    }
  }

  .navigation-main-collapse {
    background-color: #fff;
    margin-left: -15px;
    margin-right: -15px;

    li {
      float: none;
    }
  }
}